[submodule "stw"]
	path = stw
	url = git://github.com/thatguystone/flowplayer-streamtheworld.git
[submodule "ima"]
	path = ima
	url = git@github.com:thatguystone/flowplayer-ima.git
[submodule "audiovisual"]
	path = audiovisual
	url = git@github.com:longlho/audiovisual.git
